.sidebar{
    background-image: url('/static/autenticacao/img/prato.png'), linear-gradient(to bottom, #a9ebd5, #F59E0B) ;
    height: 100vh;
    color: rgb(218, 124, 124);
} 
 
.logo_sidebar{
    text-align: center;
}
.img_logo_sidebar{
    width: 100%;
}
.area_cadastrar{
    margin-top: 8%;
    margin-left: 15%;
    width: 70%;
}
.titulo{
    font-weight: bold;
}
.sub-titulo{
    color: gray;
}
.input-form{
    margin-top: 15px;
    width: 100%;
    padding: 5px;
    outline: 0;
}
.input-form:focus{
    border: 2px solid #27DB8F !important;
    outline: 0 !important;
    box-shadow: none !important;
}
.bold{
    font-weight: bold;
}
.btn-first{
    border: none;
    padding: 5px 15px 5px 15px;
    font-size: 25px;
    background-color: #27DB8F;
    color: white;
    font-weight: bold;
}

body {
    background: linear-gradient(to right, #a9ebd5, #ffffffff);
    font-family: 'Segoe UI', sans-serif;
}
    
{% load static %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/cadastro.css' %}">
{% endblock %}