asgiref==3.9.1
certifi==2025.8.3
charset-normalizer==3.4.3
diff-match-patch==20241021
Django==5.2.6
django-import-export==4.3.9
idna==3.10
mercadopago==2.3.0
pillow==11.3.0
requests==2.32.5
sqlparse==0.5.3
tablib==3.8.0
urllib3==2.5.0
