.card-lateral{

    background-image: url('/static/autenticacao/img/prato.png'), linear-gradient(to bottom, #10B981, #F59E0B) ;
    margin-top: 20px;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-decoration: none!important;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(160, 159, 159);
    border-radius: 20px;
}

.link-lateral:hover{
    text-decoration: none;
}

.titulo{
    color: #27DB8F;
}

.card-paciente{
    background-color: #EAEAEA;
    border-radius: 15px;
    width: 80%;
    box-shadow: 3px 3px 3px gray;
    padding: 20px;
    color: black;
}

.link-hover:hover{
    text-decoration: none!important;
}

.foto-perfil{
    text-align: center;
}

.dados{
    font-weight: bold;
}

.descricao{
    margin-left: -12%;
}

@media (max-width: 1300px)
{
    .descricao{
        margin-left: 1px;
    }
}

.col-md-10 a {
    text-decoration: none;
}

.col-md-10 a:hover {
    text-decoration: none;
}



.tab-btn {
        padding: 10px 20px;
        border: none;
        background: #27DB8F;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        color: #f8fcff;
        border-bottom: 3px solid transparent;
    }

.tab-btn.active {
        color: #2c7da0;
        border-bottom-color: #2c7da0;
    }

.btn-primary { background: #2c7da0; color: white; }
.btn-success { background: #28a745; color: white; }
.btn-info { background: #e7eb2d; color: white; }
.btn-warning { background: #ffc107; color: black; }

.patient-card .actions .btn-full-width {
    grid-column: 1 / -1; /* Faz o botão ocupar a largura total */
}

<style>
    .tabs {
        display: flex;
        margin-bottom: 20px;
        border-bottom: 2px solid #e9ecef;
    }
    
    .tab-btn {
        padding: 10px 20px;
        border: none;
        background: none;
        cursor: pointer;
        font-weight: bold;
        color: #6c757d;
        border-bottom: 3px solid transparent;
    }
    
    .tab-btn.active {
        color: #2c7da0;
        border-bottom-color: #2c7da0;
    }
    
    .tab-content {
        display: none;
    }
    
    .tab-content.active {
        display: block;
    }
</style>