.card-lateral{

    background-image: url('/static/autenticacao/img/prato.png'), linear-gradient(to bottom, #10B981, #F59E0B) ;
    margin-top: 20px;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-decoration: none!important;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(160, 159, 159);
    border-radius: 20px;
}

.link-lateral:hover{
    text-decoration: none;
}

.titulo{
    color: #27DB8F;
}

.card-paciente{
    background-color: #EAEAEA;
    width: 80%;
    box-shadow: 3px 3px 3px gray;
    padding: 20px;
    color: black;
}

.link-hover:hover{
    text-decoration: none!important;
}

.foto-perfil{
    text-align: center;
}

.dados{
    font-weight: bold;
}

.descricao{
    margin-left: -12%;
}

@media (max-width: 1300px)
{
    .descricao{
        margin-left: 1px;
    }
}

.col-md-10 a {
    text-decoration: none;
}

.col-md-10 a:hover {
    text-decoration: none;
}