.sidebar{
    background-image: url('/static/autenticacao/img/prato.png'), linear-gradient(to bottom, #a9ebd5, #F59E0B) ;
    height: 100vh;
    color: rgb(218, 124, 124);
} 
.logo_sidebar{
    text-align: center;
}
.img_logo_sidebar{
    width: 100%;
}

.area_cadastrar{
    margin-top: 8%;
    margin-left: 15%;
    width: 70%;
    
}
.titulo{
    font-weight: bold;
}
.sub-titulo{
    color: rgb(241, 234, 234);
}
.input-form{
    margin-top: 15px;
    width: 100%;
    padding: 5px;
    outline: 0;
}
.input-form:focus{
    border: 2px solid #27DB8F !important;
    outline: 0 !important;
    box-shadow: none !important;
}
.bold{
    font-weight: bold;
}
.btn-first{
    border: 2px solid #10B981;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 25px;
    background-color: #10B981;
    color: white;
    font-weight: bold;
}
    

body {
    background: linear-gradient(to right, #a9ebd5, #ffffffff);
    font-family: 'Segoe UI', sans-serif;
}

.card {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.25);
}

.card-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: rgba(76, 192, 153, 0.6);
    color: #113523;
    font-weight: 600;
    border-bottom: none;
    text-align: center;
}

.btn {
    border-radius: 8px;
}

.area_cadastrar_vendas {
    padding: 50px 30px;
    background: linear-gradient(background-color: #a9ebd5, #ffffffff);
    border-radius: 20px;
}

.card-text {
    color: #221010; /* ou #333 se quiser contraste mais suave */
}

.glass-card, .glass-highlight {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.glass-highlight {
    border: 2px solid #17a2b8;
    box-shadow: 0 0 25px rgba(23, 162, 184, 0.4);
}

.card:hover {
    transform: translateY(-6px);
}

.navbar .btn:hover {
    background-color: #16b5ce;
    color: #ffffff;
}
    